<div cart centered hidden>
    <h3 title class="title">Корзина</h3>
    <div class="subtitle" subtitle>В корзине пока нет товаров</div>
    <table class="linear">

    </table>
    <table class="cart-info">
        <tr>
            <td>
                <h4 style="text-transform:none;">Количество:</h4>
            </td>
            <td width="150px">
                <div count>-</div>
            </td>
        </tr>
        <tr>
            <td>
                <h4 style="text-transform:none;">Объём:</h4>
            </td>
            <td width="150px">
                <div weight></div>
                <p class="money-s"> л. </p>
            </td>
        </tr>
        <tr>
            <td>
                <h4 style="text-transform:none;">Стоимость:</h4>
            </td>
            <td width="150px">
                <div orig-price></div>
                <p class="money-s"> ₽ </p>
            </td>
        </tr>
        <tr>
            <td>
                <h4 style="text-transform:none;">Скидка:</h4>
            </td>
            <td width="150px">
                <div promo-price></div>
                <p class="money-s"> ₽ </p>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <div class="delimiter"></div>
            </td>
        </tr>
        <tr>
            <td>
                <h4 style="text-transform:none;">Итого:</h4>
            </td>
            <td width="150px">
                <div price></div>
                <p class="money-s"> ₽ </p>
            </td>
        </tr>
    </table>
    <input id="order-run" type="button" class="full-frame-2" value="Оформить заказ">
    <!-- <h6 style="text-transform:none; text-align:center; width:100%">Нажимая кнопку "Оформить заказ",<br>Вы соглашаетесь c условиями <a href="/privacy">политики конфиденциальности</a></h6> -->
</div>