@import "main-cfg";
[notify] {
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: $notify-width;
    display: flexbox;
    justify-content: right;
    [notify-count] {
        text-align: center;
        [title] {
            font-size: x-small;
            text-align: center;
            color: $text-color-1;
            background-color: $bg-color-1;
            border: 2px solid $shadow-2;
            box-shadow: $shadow-2 0px 3px 8px;
            border-radius: $default-radius;
            padding: 2px 10px;
        }
    }
    [notifyid] {
        background-color: $bg-color-3;
        max-height: $notify-max-height;
        min-height: $notify-min-height;
        overflow: hidden;
        width: $notify-width;
        color: $text-color-1;
        border: 2px solid $shadow-2;
        box-shadow: $shadow-3 0px 3px 8px;
        margin-top: 5px;
        padding: 5px 10px;
        text-align: left;
        text-decoration: none;
        font-weight: 600;
        transition: all 0.3s ease-in-out;
        border-radius: $default-radius;
        animation: scaling ease-out $notify-animation-delay;
        [title] {
            color: $text-color-1;
            width: $notify-width - 25px;
            font-size: small;
            animation: opaciting ease-out $notify-animation-delay;
        }
        [mbox] {
            animation: opaciting ease-out $notify-animation-delay;
            max-height: $notify-max-height - 25px;
            width: $notify-width - 25px;
            overflow: auto;
            [message] {
                color: $text-color-2;
                font-size: smaller;
            }
            [yes] {
                color: $accent-2;
                cursor: pointer;
                padding: 5px 10px 0px 0px;
                display: inline;
                font-size: smaller;
            }
            [no] {
                cursor: pointer;
                color: $accent-1;
                padding: 5px 10px 0px 0px;
                display: inline;
                font-size: smaller;
            }
        }
        &[notify-error] {
            background-color: $accent-1;
            [title] {
                color: $button-text-color-1;
            }
            [message] {
                color: $button-text-color-2;
            }
        }
        &[deleted] {
            animation: scaling-reverse ease-out infinite $notify-animation-close-delay;
            [mbox],
            [title] {
                animation: opaciting ease-out reverse infinite $notify-animation-close-delay;
            }
        }
    }
}

@keyframes scaling {
    0% {
        opacity: 0;
        margin-left: $notify-width;
        max-height: $notify-min-height;
        width: 0px;
    }
    10% {
        opacity: 1;
        margin-left: $notify-width * 0.9;
        width: $notify-width * 0.1;
    }
    20% {
        margin-left: $notify-width * 0.9;
        width: $notify-width * 0.1;
    }
    60% {
        max-height: $notify-min-height;
    }
    90% {
        margin-left: -5px;
        width: $notify-width+10px;
    }
    95% {
        margin-left: 5px;
        width: $notify-width - 10px;
    }
    100% {
        max-height: $notify-max-height;
        width: $notify-width;
    }
}

@keyframes scaling-reverse {
    0% {
        min-height: $notify-min-height;
        max-height: $notify-max-height;
        width: $notify-width;
    }
    25% {
        margin-left: $notify-width - $notify-min-height;
        width: $notify-min-height;
        max-height: $notify-min-height;
    }
    40% {
        opacity: 1;
        margin-top: 5px;
    }
    50% {
        opacity: 0;
        margin-top: 0px;
        margin-left: $notify-width;
        width: 0px;
        min-height: 0px;
        max-height: 0px;
    }
}

@keyframes opaciting {
    0% {
        opacity: 0;
        overflow-y: hidden;
    }
    70% {
        opacity: 0;
    }
    100% {
        opacity: 1;
        overflow-y: auto;
    }
}