<div admin-chat centered hidden>
    <h3 title class="title">Чат</h3>
    <div class="full-frame-2">
        <div id="messages">
            <div class="empty-messages">Пусто</div>
        </div>
        <div class="input-container">
            <input id="message" type="text" maxlength="5000" class="full-frame-0" placeholder="Введите сообщение...">
            <label class="placeholder" for="message">Сообщение</label>
        </div>
        <input id="send-message" type="submit" class="full-frame-0" value="Отправить">
    </div>
</div>