[add-address] {
  width: fit-content;
  min-width: 300px;
  max-width: 90%;
}
[add-address] title {
  padding-bottom: 10px;
}
[add-address] #input_datalist {
  background-color: #eaeaea;
  border: 2px solid var(--shadow-1);
  box-shadow: 2px 2px 10px var(--shadow-3);
  position: absolute;
  overflow-y: scroll;
  width: 90%;
  margin: 0px 5%;
  max-height: 200px;
}
[add-address] #input_datalist .input_datalist_title {
  width: 100%;
  font-size: 12px;
  text-align: center;
}
[add-address] #input_datalist .input_datalist_empty {
  padding: 5px 10px;
}
[add-address] #input_datalist::-webkit-scrollbar-thumb {
  background-color: var(--accent-1);
  border-radius: var(--default-radius);
  border: 2px solid #eaeaea;
}
[add-address] input[type=text][success=true] + label.status {
  position: absolute;
  top: 0;
  right: 0;
  margin: 18px 7%;
  width: 20px;
  height: 20px;
  background-color: limegreen;
  -webkit-mask-image: url("/images/right.svg");
  mask-image: url("/images/right.svg");
}
[add-address] input[type=text] {
  background-color: var(--shadow-2);
  color: var(--text-color-1);
}
[add-address] div[accent-text] {
  color: var(--text-color-3);
  display: inline;
}
[add-address] .input-left input[type=text][success=true] + label.status {
  margin: 15px 3%;
}
[add-address] .input-left .placeholder {
  left: 5px;
}
[add-address] .input-right {
  padding-left: 2.5%;
  min-width: 100px;
  width: fit-content;
  max-width: 200px;
}
[add-address] .input-right input[type=text][success=true] + label.status {
  margin: 15px 8%;
}
[add-address] .input-right .placeholder {
  left: 5px;
}
[add-address] .detail-left .placeholder {
  left: 7px;
}
[add-address] .detail-right {
  padding-left: 2.5%;
}
[add-address] .detail-right .placeholder {
  left: 13px;
}

#address-selector {
  width: 90%;
  margin: 10px 5%;
}
#address-selector .address-empty {
  width: 100%;
  margin: 10px 0;
  text-align: center;
  cursor: pointer;
}
#address-selector .address-top {
  width: 100%;
  margin: 15px 0px 5px;
}
#address-selector .address-top .address-title {
  text-transform: uppercase;
  font-weight: 500;
}
#address-selector .address-top .address-btn {
  cursor: pointer;
  color: var(--button-text-color-1);
  padding: 4px 7px;
  margin-left: 10px;
  border-radius: 15px;
  font-weight: 500;
  font-size: 12px;
  text-transform: uppercase;
  display: inline;
}
#address-selector .address-top .address-btn.add-btn {
  background-color: var(--accent-2);
}
#address-selector .address-top .address-btn.del-btn {
  background-color: var(--accent-1);
}
#address-selector #addresses {
  display: grid;
  grid-template-columns: repeat(2, minmax(300px, 100%));
  justify-content: center;
}
@media screen and (max-width: 800px) {
  #address-selector #addresses {
    grid-template-columns: 100%;
  }
}
#address-selector #addresses .address-item-cont {
  padding-top: 10px;
  padding-right: 10px;
  padding-left: 0;
  width: 100%;
  text-align: center;
}
#address-selector #addresses .address-item-cont:nth-child(2n) {
  padding-right: 0;
  padding-left: 10px;
}
@media screen and (max-width: 800px) {
  #address-selector #addresses .address-item-cont {
    padding-right: 0px;
    padding-left: 0;
  }
  #address-selector #addresses .address-item-cont:nth-child(2n) {
    padding-right: 0;
    padding-left: 0px;
  }
}
#address-selector #addresses .address-item {
  transition: all 0.1s;
  cursor: pointer;
  padding: 5px 15px;
  width: 100%;
  min-height: 100px;
  height: 100%;
  align-items: center;
  border-radius: 15px;
  background-color: var(--bg-color-3);
}
#address-selector #addresses .address-item.selected {
  background-color: var(--accent-2);
  color: var(--button-text-color-1);
}
#address-selector #addresses .address-item.selected input {
  color: var(--button-text-color-1);
}
#address-selector #addresses .address-item .address-line {
  display: inline-block;
}
#address-selector #addresses .address-item .address-lines {
  font-weight: bold;
  border-radius: 15px;
}
#address-selector #addresses .address-item .address-details .address-detail {
  margin: 2px 3px 0;
  line-height: 1.3;
  padding: 4px 7px;
  font-size: small;
  background-color: var(--accent-2);
  border-radius: 15px;
  font-weight: bold;
  display: inline-block;
  color: var(--button-text-color-2);
}
#address-selector #addresses .address-item .address-details .address-detail .address-detail-value {
  color: var(--button-text-color-1);
  font-weight: bold;
  display: inline;
}
#address-selector #addresses .address-item .address-note[value=""] {
  display: none;
}

/*# sourceMappingURL=address.css.map */
