/**/
.big-item {
  width: 250px;
  height: 100%;
  padding: 10px;
  justify-self: center;
}
.big-item .big-item-padding {
  overflow: hidden;
  position: relative;
  justify-self: center;
  white-space: initial;
  width: 100%;
  height: auto;
  border-radius: 15px;
  background-color: var(--bg-color-1);
  text-align: center;
  color: var(--text-color-1);
  font-weight: 700;
  cursor: pointer;
}
.big-item .big-item-padding:hover {
  box-shadow: 0px 4px 10px var(--shadow-3);
}
.big-item .big-item-padding [padding] {
  padding: 25%;
}
.big-item .big-item-padding [cart-control] {
  position: absolute;
  left: 15px;
  right: 15px;
  bottom: 15px;
}
.big-item .big-item-padding [cart-control] table {
  width: 100%;
  user-select: none;
}
.big-item .big-item-padding [cart-control] [to-cart],
.big-item .big-item-padding [cart-control] [minus-cart],
.big-item .big-item-padding [cart-control] [plus-cart] {
  text-align: center;
  height: 41px;
  font-size: 14px;
  white-space: nowrap;
  color: var(--button-text-color-1);
  background-color: black;
  border: 1px solid var(--shadow-1);
  border-radius: 15px;
  font-weight: 700;
  text-transform: uppercase;
}
.big-item .big-item-padding [cart-control] [to-cart]:hover,
.big-item .big-item-padding [cart-control] [minus-cart]:hover,
.big-item .big-item-padding [cart-control] [plus-cart]:hover {
  background-color: var(--accent-1);
}
.big-item .big-item-padding [cart-control] .to-cart {
  width: 100%;
}
.big-item .big-item-padding [cart-control] .to-cart [to-cart] {
  margin: 0 auto;
  padding: 12px 10px;
}
.big-item .big-item-padding [cart-control] [minus-cart],
.big-item .big-item-padding [cart-control] [plus-cart] {
  margin: 0px 5px;
  padding: 12px 18px;
}
.big-item .big-item-padding [image] {
  position: relative;
  width: 100%;
  margin-bottom: 20px;
  padding-bottom: 83.3333333333%;
}
.big-item .big-item-padding [image] .soc-information-full {
  position: absolute;
  left: 15px;
  right: 15px;
  top: 15px;
}
.big-item .big-item-padding [image] .soc-information-full > * {
  font-size: small;
  font-weight: 500;
  padding: 2px 10px;
  color: var(--text-color-2);
  background-color: var(--bg-color-2);
  border: 1px solid var(--shadow-2);
  border-radius: 15px;
}
.big-item .big-item-padding [image] .soc-information-full > * .soc-popup-start::before {
  content: "";
  position: absolute;
  right: 0;
  transform: translate(-5px, -12px);
  top: auto;
  height: 10px;
  width: 30px;
  background-color: #e5e5e5;
  clip-path: polygon(0% 10px, calc(50% - 10px) 10px, 50% 0px, calc(50% + 10px) 10px, 100% 10px, 100% 100%, 0 100%);
}
.big-item .big-item-padding [image] .soc-information-full > * .soc-popup-start::after {
  content: "";
  position: absolute;
  right: 0;
  transform: translate(-5px, -11px);
  top: auto;
  height: 10px;
  width: 30px;
  background-color: var(--bg-color-2);
  clip-path: polygon(0% 11px, calc(50% - 9px) 11px, 50% 0px, calc(50% + 9px) 11px, 100% 11px, 100% 100%, 0 100%);
}
.big-item .big-item-padding [image] .soc-information-full > * .soc-title {
  padding-top: 5px;
}
.big-item .big-item-padding [image] .soc-information-full > * .rating-stars {
  padding: 5px;
  width: 100%;
  white-space: nowrap;
}
.big-item .big-item-padding [image] .soc-information-full > * .rating-stars[mrating="1"] [rat-star="2"] {
  filter: brightness(0);
}
.big-item .big-item-padding [image] .soc-information-full > * .rating-stars[mrating="1"] [rat-star="3"] {
  filter: brightness(0);
}
.big-item .big-item-padding [image] .soc-information-full > * .rating-stars[mrating="1"] [rat-star="4"] {
  filter: brightness(0);
}
.big-item .big-item-padding [image] .soc-information-full > * .rating-stars[mrating="1"] [rat-star="5"] {
  filter: brightness(0);
}
.big-item .big-item-padding [image] .soc-information-full > * .rating-stars[mrating="2"] [rat-star="3"] {
  filter: brightness(0);
}
.big-item .big-item-padding [image] .soc-information-full > * .rating-stars[mrating="2"] [rat-star="4"] {
  filter: brightness(0);
}
.big-item .big-item-padding [image] .soc-information-full > * .rating-stars[mrating="2"] [rat-star="5"] {
  filter: brightness(0);
}
.big-item .big-item-padding [image] .soc-information-full > * .rating-stars[mrating="3"] [rat-star="4"] {
  filter: brightness(0);
}
.big-item .big-item-padding [image] .soc-information-full > * .rating-stars[mrating="3"] [rat-star="5"] {
  filter: brightness(0);
}
.big-item .big-item-padding [image] .soc-information-full > * .rating-stars[mrating="4"] [rat-star="5"] {
  filter: brightness(0);
}
.big-item .big-item-padding [image] .soc-information-full > * .rating-stars img {
  display: inline-block;
  height: 18px;
}
.big-item .big-item-padding [image] .soc-information {
  position: absolute;
  left: 15px;
  right: 15px;
  top: 15px;
}
.big-item .big-item-padding [image] .soc-information > * {
  margin-left: auto;
  white-space: nowrap;
  width: min-content;
  margin-bottom: 5px;
  border: 1px solid var(--shadow-2);
  color: var(--button-text-color-1);
  background-color: var(--accent-1);
  font-size: small;
  font-weight: 400;
  padding: 2px 10px;
  border-radius: 15px;
}
.big-item .big-item-padding [image] .soc-information [rating] {
  background-color: var(--accent-1);
}
.big-item .big-item-padding [image] .soc-information [promotion] {
  background-color: var(--accent-2);
}
.big-item .big-item-padding .item-image {
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
.big-item .big-item-padding .price-box {
  position: relative;
}
.big-item .big-item-padding .price-box > * {
  display: inline-block;
}
.big-item .big-item-padding .price-box [price] {
  margin-left: 20px;
  font-size: 28px;
  line-height: 1.55;
  margin-bottom: 70px;
}
.big-item .big-item-padding .price-box [price-history] {
  width: 15px;
  height: 15px;
  transform: translate(-50%, -100%);
  font-size: 12px;
  background-color: var(--accent-1);
  color: var(--button-text-color-1);
  border-radius: 15px;
  border: 1px solid var(--shadow-2);
  box-shadow: 2px 2px 5px var(--shadow-3);
}
.big-item .big-item-padding [name] {
  padding: 0 20px;
  font-size: 20px;
}
.big-item .big-item-padding [description] {
  padding: 0 20px;
  max-height: 55px;
  overflow-y: hidden;
  margin-top: 8px;
  font-size: 12px;
  line-height: 1.55;
  font-weight: 400;
}
.big-item .big-item-padding.anim-show-item {
  animation: show-item 1s 1;
}

@keyframes show-item {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.linear {
  width: 100%;
}

.mini-item {
  overflow: hidden;
  position: relative;
  margin: 10px 2.5%;
  border: 1px solid var(--shadow-2);
  border-radius: var(--default-radius);
  background-color: var(--bg-color-1);
  color: var(--text-color-1);
  font-weight: 700;
  cursor: pointer;
  width: 95%;
  height: 50px;
  max-height: 50px;
}
.mini-item [image] {
  position: relative;
  height: 50px;
  width: 50px;
  margin: 5px;
  padding: 5px 0px 5px 50px;
}
.mini-item img {
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 2;
  -webkit-transition: opacity 0.1s linear;
  transition: opacity 0.1s linear;
}
.mini-item [name] {
  font-size: small;
  padding: 2px;
}
.mini-item [description] {
  padding: 2px;
  overflow-y: hidden;
  font-size: x-small;
  max-height: 26.3157894737px;
}
.mini-item [description] .addons {
  margin: 0px;
  text-align: left;
}
.mini-item [description] .addons td {
  padding: 0;
}
.mini-item [description] .addons input + label {
  margin: 0px;
  font-size: small;
  padding: 1px 10px;
}
.mini-item [count],
.mini-item [count-sk] {
  font-size: small;
  text-align: center;
  padding: 5px 10px;
}
.mini-item [weight] {
  text-align: center;
  vertical-align: middle;
  width: 100px;
  max-height: 25px;
  font-size: small;
  padding: 5px;
}
.mini-item [price] {
  text-align: center;
  vertical-align: middle;
  width: 100px;
  max-height: 25px;
  font-size: medium;
  padding: 5px;
}

.simple-item {
  overflow: hidden;
  position: relative;
  margin: 10px;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.1882352941);
  justify-self: center;
  width: 250px;
  height: 125px;
  border-radius: var(--default-radius);
  background-color: var(--bg-color-2);
  transition: 0.2s;
}
.simple-item:hover {
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.3764705882);
}
.simple-item .img-part {
  position: absolute;
  width: 45%;
  left: var(--default-radius);
  right: var(--default-radius);
  top: var(--default-radius);
  bottom: var(--default-radius);
  border-radius: var(--default-radius);
  overflow: hidden;
}
.simple-item .img-part img {
  position: absolute;
  overflow: hidden;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
}
.simple-item .fg-part {
  padding: 1px 5px;
  background-color: var(--bg-color-1);
  position: absolute;
  left: var(--default-radius);
  bottom: var(--default-radius);
  border-radius: var(--default-radius);
  border: 1px solid var(--shadow-2);
}
.simple-item .fg-part *:nth-child(1) {
  color: var(--accent-1);
  font-size: medium;
  display: inline-block;
}
.simple-item .fg-part *:nth-child(2) {
  font-size: small;
  display: inline-block;
}
.simple-item .to-cart,
.simple-item .from-cart {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 50%;
  height: 100%;
  font-size: 0.6em;
  padding: 5px;
  background-color: var(--accent-1);
  color: var(--button-text-color-1);
  cursor: pointer;
}
.simple-item .to-cart:hover,
.simple-item .from-cart:hover {
  background-color: var(--bg-color-2);
  border: 1px solid var(--accent-1);
  color: var(--accent-1);
}
.simple-item .desc-part {
  position: absolute;
  width: 45%;
  right: var(--default-radius);
  top: var(--default-radius);
  bottom: var(--default-radius);
}
.simple-item .desc-part .item-name {
  width: 100%;
  font-size: 0.9em;
  color: var(--text-color-1);
  font-weight: 900;
}
.simple-item .desc-part .item-desc {
  width: 100%;
  height: 40%;
  font-size: 0.7em;
  overflow-y: auto;
  color: var(--text-color-3);
}
.simple-item .desc-part .buy-panel {
  position: absolute;
  height: 25px;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
}
.simple-item .desc-part .buy-panel .fg-part-2 {
  height: 100%;
  max-width: 49%;
  left: 0;
  bottom: 0;
  overflow: hidden;
}
.simple-item .desc-part .cart-control {
  position: absolute;
  overflow: hidden;
  right: 0;
  bottom: 0;
  width: 101%;
  height: 100%;
  opacity: 1;
  transition: height 0;
  transition: opacity 0.3s;
  background-color: var(--bg-color-3);
  border-radius: var(--default-radius);
}
.simple-item .desc-part .cart-control.cart-hidden {
  height: 0;
  opacity: 0;
}
.simple-item .desc-part .cart-control .count-sum {
  margin: 0 3%;
  position: absolute;
  width: 94%;
  top: 20px;
  height: 70px;
  overflow: hidden;
  font-weight: 700;
}
.simple-item .desc-part .cart-control .count-sum td:nth-child(odd) div {
  width: 30px;
  height: 30px;
  border: 2px solid var(--accent-1);
  border-radius: var(--default-radius);
  cursor: pointer;
}
.simple-item .desc-part .cart-control .count-sum td:nth-child(odd) div img {
  padding: 20%;
  height: 100%;
  height: 100%;
}
.simple-item .desc-part .cart-control .count-sum td:nth-child(2) {
  text-align: center;
  font-size: 2em;
  padding: 0 3px;
  color: var(--accent-1);
}
.simple-item .desc-part .cart-control .count-title {
  font-size: 0.8em;
  position: absolute;
  left: 0;
  right: 0;
  top: 5px;
  text-align: center;
}
.simple-item .desc-part .cart-control .from-cart {
  width: 100%;
  height: 25px;
}
.simple-item .desc-part .cart-control .price-sum {
  margin: 0 3%;
  position: absolute;
  width: 94%;
  bottom: 30px;
  overflow: hidden;
  font-weight: 700;
}
.simple-item .desc-part .cart-control .price-sum td:nth-child(1) {
  font-size: 0.7em;
  color: var(--text-color-1);
}
.simple-item .desc-part .cart-control .price-sum td:nth-child(2) {
  font-size: 1em;
  padding: 0 3px;
  color: var(--accent-1);
}
.simple-item .desc-part .cart-control .price-sum td:nth-child(3) {
  font-size: 0.7em;
  color: var(--text-color-1);
}
.simple-item .item-message {
  padding: 5px;
  text-align: center;
  position: absolute;
  left: 5%;
  top: 60px;
  right: 5%;
  background-color: var(--accent-2);
  font-size: 0.7em;
  color: white;
  border-radius: var(--default-radius);
  border: 1px solid var(--shadow-3);
}

/*# sourceMappingURL=item.css.map */
