@charset "UTF-8";
/*Скроллинг*/
*::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--bg-color-1);
  border-radius: var(--default-radius);
  border: 2px solid var(--shadow-3);
}

/**/
* {
  scrollbar-color: var(--accent-1) var(--bg-color-1);
  scrollbar-width: thin;
  border: 0px;
  border-collapse: collapse;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: all 0.2s;
}
*:focus {
  outline: none;
}

body {
  --scrolled-first-page: 1;
  --body-height: 100%;
  --actionbar-height: 65px;
  background-color: var(--bg-color-1);
  color: var(--text-color-2);
}
@media screen and (max-width: 900px) {
  body {
    --actionbar-height: 45px;
  }
}
body [body] {
  overflow: auto;
  overflow: overlay;
  position: fixed;
  top: var(--actionbar-height);
  bottom: 0;
  left: 0;
  right: 0;
  scroll-behavior: smooth;
  transition: all 0.2s;
}
body [body].scrolled-page-1::-webkit-scrollbar-thumb,
body [body].scrolled-page-1 *::-webkit-scrollbar-thumb {
  background-color: black;
  border-radius: var(--default-radius);
  border: 2px solid rgba(255, 255, 255, 0.1333333333);
}
body [body-shadow] {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--shadow-3);
}

li {
  list-style-type: none;
}

[accent] {
  filter: var(--filter-1);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--text-color-1);
  font-weight: 600;
  text-transform: uppercase;
  display: inline-block;
}

a {
  color: var(--accent-1);
  display: inline-block;
  text-decoration: none;
  font-weight: 900;
}

.small {
  font-size: 12px;
  line-height: 14px;
}

.fragment-bg {
  position: absolute;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.blurred {
  filter: blur(20px);
}

.hidden {
  display: none;
  opacity: 0;
  width: 0;
  height: 0;
  overflow: hidden;
}

.fragment {
  border: 1px solid var(--shadow-1);
  border-radius: 10px 10px 10px 10px;
  background: var(--bg-color-2);
  position: relative;
  box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.2);
  text-align: center;
}

.full-frame {
  width: 100%;
  margin: 0;
}

.errorr {
  background-color: #000;
}

.full-frame-0 {
  width: 100%;
  margin: 5px 0;
}

.full-frame-1 {
  width: 95%;
  margin: 5px 2.5%;
}

.full-frame-2 {
  width: 90%;
  margin: 7px 5%;
}

.full-frame-3 {
  width: 85%;
  margin: 10px 7.5%;
}

.full-width-text {
  width: 100%;
  text-align: justify;
}

.inline-block {
  display: inline-block;
}

.spin-wrapper {
  position: relative;
}
.spin-wrapper .spinner {
  position: absolute;
  height: 60px;
  width: 60px;
  border: 3px solid transparent;
  border-top-color: var(--accent-1);
  top: 50%;
  left: 50%;
  margin: -30px;
  border-radius: 50%;
  animation: spin 2s linear infinite;
}
.spin-wrapper .spinner:before, .spin-wrapper .spinner:after {
  content: "";
  position: absolute;
  border: 3px solid transparent;
  border-radius: 50%;
}
.spin-wrapper .spinner:before {
  border-top-color: var(--accent-2);
  top: -12px;
  left: -12px;
  right: -12px;
  bottom: -12px;
  animation: spin 3s linear infinite;
}
.spin-wrapper .spinner:after {
  border-top-color: var(--accent-3);
  top: 6px;
  left: 6px;
  right: 6px;
  bottom: 6px;
  animation: spin 4s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*# sourceMappingURL=main.css.map */
