[orders] [title] {
  margin-bottom: 15px;
}
[orders] [order-id] {
  margin: 0px 20px;
}
[orders] [order-id] .orders-container {
  width: 100%;
  transform: translate(0, -15px);
  padding: 20px 20px 10px;
  background-color: var(--bg-color-3);
  box-shadow: 4px 4px 8px var(--shadow-2);
  border: 2px solid var(--shadow-2);
  border-top: none;
  border-radius: 0 0 15px 15px;
}
[orders] [order-id] .orders-container::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 10px;
  transform: translate(-2px);
  background-color: var(--bg-color-2);
  box-shadow: -2px 7px 5px var(--shadow-1);
  border: 2px solid var(--shadow-2);
  border-top: none;
  border-radius: 0 0 15px 15px;
}
[orders] [order-id] .orders-items-table {
  width: 100%;
  user-select: none;
  height: 55px;
}
[orders] [order-id] .item-rect {
  background: var(--shadow-2);
  height: 100%;
  overflow: hidden;
  width: 55px;
  cursor: pointer;
  padding: var(--default-radius);
  border-radius: var(--default-radius);
  border: 1px solid var(--shadow-1);
  display: inline-block;
  margin: 0 var(--default-radius) 0 0;
}
[orders] [order-id] .item-rect .item-img {
  position: relative;
  height: 100%;
  width: 100%;
}
[orders] [order-id] .item-rect .item-img img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-height: 100%;
  max-width: 100%;
}
[orders] [order-id] .item-rect .item-description {
  width: max-content;
  background: var(--bg-color-2);
  padding: var(--default-radius) 15px;
  border-radius: var(--default-radius);
  border: 1px solid var(--shadow-2);
  box-shadow: -2px 7px 5px var(--shadow-1);
  transform: translate(-50%, -90%);
  opacity: 0;
  position: absolute;
  top: 0;
  left: 50%;
}
[orders] [order-id] .item-rect:hover {
  border-color: var(--accent-1);
  padding: 3px;
}
[orders] [order-id] .orders-min .orders-items {
  white-space: nowrap;
  overflow-y: hidden;
  overflow-x: auto;
  user-select: none;
  height: 55px;
}
[orders] [order-id] .item-list {
  width: 100%;
}
[orders] [order-id] .item-list th {
  padding-left: 10px;
  white-space: nowrap;
  text-align: center;
  margin: 0 auto;
}
[orders] [order-id] .item-list th:nth-child(1) {
  padding-left: 0px;
  text-align: left;
  margin: 0;
}
[orders] [order-id] .item-list td {
  padding-left: 10px;
  white-space: nowrap;
  text-align: center;
  margin: 0 auto;
}
[orders] [order-id] .item-list td:nth-child(1) {
  white-space: inherit;
  padding-left: 0px;
  text-align: left;
  margin: 0;
}
[orders] [order-id] .orders-max .order-times {
  text-align: center;
  margin: 5px auto 0;
}
[orders] [order-id] .orders-max .order-times div {
  margin: 0 10px;
  font-weight: 700;
  font-size: x-small;
  color: var(--text-color-3);
}
[orders] [order-id] .order-main {
  width: 100%;
  background-color: var(--bg-color-2);
  box-shadow: 4px 4px 8px var(--shadow-2);
  border: 2px solid var(--shadow-2);
  border-radius: 15px;
  padding: 10px 20px;
}
[orders] [order-id] .order-main .order-line {
  width: 100%;
}
[orders] [order-id] .order-main .order-state {
  font-size: small;
  font-weight: 700;
  margin-left: auto;
  margin-right: 10px;
  text-align: right;
}
[orders] [order-id] .order-main .order-title {
  font-weight: bolder;
  font-size: medium;
}
[orders] [order-id] .order-main .order-subtitle {
  font-size: small;
  font-weight: 700;
  display: inline-block;
}
[orders] [order-id] .order-main .order-subitem {
  font-size: small;
  display: inline-block;
}
[orders] [order-id] .order-main .order-subitem .address-line {
  display: inline-block;
}

[pay] [title] {
  margin-bottom: 15px;
}
[pay] .pay-load {
  transform: translate(0, -30px);
  position: relative;
  width: 100%;
  height: 300px;
}
[pay] .pay-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 100px);
  text-transform: uppercase;
  white-space: nowrap;
}

/*# sourceMappingURL=orders.css.map */
