<div class="soc-popup-start"></div>
<div class="soc-title">Оцените продукт</div>
<div class="rating-stars" mrating="{% rating %}">
    <img rat-item="{% item %}" rat-star="1" onclick="Items.rating(this, event)" src="/images/icon-star.svg">
    <img rat-item="{% item %}" rat-star="2" onclick="Items.rating(this, event)" src='/images/icon-star.svg'>
    <img rat-item="{% item %}" rat-star="3" onclick="Items.rating(this, event)" src="/images/icon-star.svg">
    <img rat-item="{% item %}" rat-star="4" onclick="Items.rating(this, event)" src='/images/icon-star.svg'>
    <img rat-item="{% item %}" rat-star="5" onclick="Items.rating(this, event)" src="/images/icon-star.svg">
</div>